@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo";
}
/* Start Root */
:root {
  --color-primery: #113d56;
  --color-secondary: black;
  --color-black: black;
  --color-white: white;
}
/* End Root */

h1,
h4,
h2,
h3,
h5 {
  font-weight: bolder !important ;
}

/*  Start Nav Bar*/

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

ul {
  align-items: center;
  list-style: none;
  display: flex;
}
ul li {
  color: black;
  margin-right: 50px;
}

header nav ul button {
  height: 30px;
  text-align: center;
  width: 100px;
  border-radius: 32px;
  border: none;
  list-style: none;
  background: linear-gradient(90deg, #c7a17a -1.79%, #c7a17a 98.99%);
  color: var(--color-white);
}

.menu_navbar {
  display: none;
}

@media screen and (max-width: 690px) {
  .header {
    justify-content: space-between;
  }
  .menu_navbar {
    display: block;
  }
  nav ul li {
    display: none;
  }
}
/*  End Nav Bar*/

/* Start Home Section */
.home__section {
  background-image: url(../../assets/images/coffe_slider1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.home_blackImg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__section h1 {
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}
.home__section .buttons button:nth-child(1) {
  border: none;
  padding: 5px 40px;
  border-radius: 6px;
  text-align: center;
  background-color: #ffffff;
}

.home__section .buttons button:nth-child(1):hover {
  background-color: #c7a17a;
  transition: 0.5s;
}

.home__section .buttons button:nth-child(2) {
  background-color: #c7a17a;
  border: none;
  padding: 5px 40px;
  border-radius: 6px;
  text-align: center;
  background-color: none;
}

.home__section .buttons button:nth-child(2):hover {
  background-color: #c7a17a;
  transition: 0.5s;
}

.btn {
  text-decoration: none;
}

/* End Home */

/* about section*/

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about .about__text {
  width: 72vmin;
  text-align: justify;
  text-justify: inter-word;
}

/* End about Section */

/* Start Services */

section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section img {
  width: 300px;
  height: 300px;
}

.galary {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 300px));
  justify-content: center;
}
.galary img {
  padding: 10px;
}
/* End Services */

.first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-section ul {
  width: 100vw;

  display: flex;
  justify-content: center;

  font-size: 20px;
}

.first-section ul li:hover {
  font-size: 20px;
  color: var(--color-secondary);
  cursor: pointer;
}

/* products */

.card-st {
  background-color: #fff7ed;
  border-radius: 16px;
}
.card-st img {
  margin-top: 20px;
  height: 220px;
}
.card-st p {
  margin-top: 20px;
  font-size: 13px;
}
.card-st button {
  width: 100%;
  border: none;
  background-color: #c7a17a;
  font-weight: bold;
  height: 60px;
  border-radius: 0px 0px 16px 16px;
}
/* end products */
/* Start feature */
.feature h4 {
  color: #8b510e;
  font-weight: bolder;
}
.feature img {
  width: 60px;
}

/* end feature */

/* Image */

.image__pattern {
  min-width: 100%;
  height: 310px;
  object-fit: cover;
  filter: grayscale(40%);
}
.image__pattern img {
  background-color: rgba(0, 0, 0, 80%);
}

/* End image */

/* Start Menu */

.menu__image {
  color: white;
  background-image: url(../images/coffe_slider.png);
  min-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 !important;
  z-index: 0;
  overflow: hidden;
}

.black__image {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
}

.menu__image .row .menu__productL img:hover {
  border: 2px solid bisque;
}

.btn__seeAllMenu {
  padding: 5px 16px;
  border-radius: 16px;
  background-color: transparent;
  color: white;
  border: 2px solid #c7a17a;
  text-align: center;
  margin-bottom: 20px;
}

/* End Menu */

/* contact us  */

form label {
  margin-top: 10px;
}

.sub__btn {
  width: 100px;
}

form input,
textarea {
  padding: 5px 5px;
  text-align: start;
}

form button {
  border: none;
  text-decoration: none;
  border-radius: 6px;
  background-color: #c7a17a;
  padding: 10px;
}
/* contact us */
